/* Tom Barnowsky, Nils Rothenburger, Robin Schmidt - 2018-11-04
 * Netzwerkgestützte Smart-Home Steuerung via Raspberry Pi

 * Dies ist die Haupt CSS-Datei. */
 body{
	 background-color:#ff60fc;
	 font-size:0.7cm;
	 
 }
 h1{
	 color:#d5a13c;
	 font-size:1.1cm;
	 text-decoration:underline;
 }
